* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  /* background: linear-gradient(45deg, #ddfffe, #ffffff); */
  font-family: sans-serif;
  font-weight: 100;
}

.highlight {
  background-color: rgba(255, 255, 255, 0.3);
}

table {
  border-radius: 10px;
  border-collapse: collapse;
  width: 100%;
  /* position: relative; */
  /* width: 800px; */
  /* border-collapse: collapse; */
  overflow: hidden;
  box-shadow: 0 0 20px rgba(14, 14, 14, 0.1);
  width: max-content;
}

th,
td {
  color: #fff;
  text-align: justify;
  padding: 8px;
  /* border: 1px solid #dddddd; */
  /* padding: 15px; */
  background-color: rgb(255, 255, 255, 0.2);
  /* width: auto; */
  /* position: sticky;
  top: 0; */
}

tr {
  color: #000;
}
th {
  /* background-color: #f2f2f2;
    font-weight: bold; */
  /* z-index: 2; */
  text-align: justify;
}

thead {
  th {
    background-color: #55608f;
    /* position: sticky;
    top: 0; */
  }
}

tbody {
  tr {
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  td {
    position: relative;

    &:hover {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
      }
    }
  }
}

.container1 {
  /* max-height: 650px; */
  overflow: auto;
  overflow-x: auto;
  /* overflow-y: auto; */

  margin-left: 20px;
  margin-right: 20px;
  max-width: 100%;

  max-width: calc(100% - 40px);
  /* overflow-x: auto; */
}

.container1 {
  scrollbar-width: thin;
  scrollbar-color: #fff #55608f;
}

.container1::-webkit-scrollbar {
  /* Set scrollbar width and color */
  width: 12px;
  height: 12px;
}

.container1::-webkit-scrollbar-thumb {
  background-color: #55608f;

  /* Set scrollbar thumb color */
  .container1 {
    scrollbar-width: thin;
    scrollbar-color: #fff #55608f;
  }

  .container1::-webkit-scrollbar {
    /* Set scrollbar width and color */
    width: 12px;
    height: 12px;
  }
}

.container1::-webkit-scrollbar-track {
  /* Set scrollbar track color */
  background-color: #55608f;
}

.projectnamecontainer {
  max-height: 0vh;
  max-width: 100%;
  transition: background-color;
}

.Projectname {
  text-align: left;
  background-color: beige;
  padding: 1vh;
}

.namebox {
  word-spacing: normal;
  border: 3px;
  border-color: black;
}

.ownershipclaim {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  background-color: rgb(221, 245, 220);
  bottom: 0;
  right: 0;
  margin-top: 13vh;
}

/* .namebox:hover{
    background-color: white;
    border: 1vh
} */
.nameboxtext {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: left;
  text-transform: capitalize;
}

/*main body design*/
.main_body {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.left {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}

.left > div {
  margin-left: 5px;
  margin-right: 5px;
}

.right {
  max-width: 100%;
  flex-basis: 100%;
}

/* .left {
    flex-basis: 5%;
} */

.main_body .left .btn_group div {
  display: flex;
  flex-direction: column;
}

.main_body .left .btn {
  margin: 5px;
}

/*navbar css*/
/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(12, 12, 97);
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  color: white;
  text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
/* .sidebar a:hover {
    color: #f1f1f1;
  }
   */
/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(12, 12, 97);
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/*designing the search bar*/
.pageNav_searchbar {
  display: flex;
  justify-content: space-evenly;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-container input[type="text"] {
  padding: 10px;
  border: none;
  font-size: 17px;
  width: 70%;
  background-color: #f1f1f1;
}

.search-container button {
  background-color: rgb(12, 12, 97);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

/*form design*/
form {
  display: flex;
  flex-direction: column;
  float: auto;
  width: 100% !important;
  margin: auto;
}

form label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
}

form input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #0077cc;
}

form button[type="submit"] {
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #005fa3;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}
