<!-- footer-name -->
<footer
  class="border-t-2 bg-[#0eabb0] text-slate-600 px-4 py-2 fixed bottom-0 w-full"
>
  <h1 class="text-lg text-center p-2">Financial Reporting Council</h1>
  <div class="flex justify-center">
    <p class="mr-20">
      Parjatan Bhaban (8th floor), Plot: E-5 C/1<br />
      West Agargaon, Sher-e-Bangla Nagar Administrative Area<br />
      Dhaka-1207, Bangladesh<br />
    </p>
    <p class="ml-20">
      Email: ed.ss@frc.gov.bd<br />
      Office: +88 02 41024674<br />
      Website: frc.gov.bd
    </p>
  </div>
  <p class="text-center">
    All rights reserved by Financial Reporting Council Bangladesh
  </p>
</footer>
