<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!--Css-->
  <link rel="stylesheet" href="../static/css/index.css">
  <title>FRC Asset Register</title>
  <style>
    /* th {
            background-color: #f2f2f2;
            font-weight: bold;
            text-align: left;
            padding: 8px;
            border: 1px solid #dddddd;
        }
        
        td {
            text-align: left;
            padding: 8px;
            border: 1px solid #dddddd;
        } */
    /* .left {
          display: flex;
          flex-direction: row;
        }
      
        .left > div {
          margin-right: 10px;
          margin-top: 10px;
        }
         */
         .org_name {
      text-align: center;
      align-content: center;
    }
  </style>
</head>

<body>
  {% include 'header.html' %}
  <div class='left'>
    <div>
      <a href="{% url 'dashboard' %}">
        <button type="button" class="btn btn-secondary btn-block shadow">Dashboard</button>
      </a>
    </div>
    <div>
      <a href="{% url 'frc_asset_register' %}">
        <button type="submit" class="btn btn-secondary btn-block shadow">Asset Register</button>
      </a>
    </div>
    <div>
      <a href="{% url 'frc_asset_schedule' %}">
        <button type="submit" class="btn btn-secondary btn-block shadow">Asset Schedule</button>
      </a>
    </div>
    <div>
      <a href="{% url 'frc_dep' %}">
        <button type="submit" class="btn btn-secondary btn-block shadow">Depreciation</button>
      </a>
    </div>
    <div>
      <a href="{% url 'current_asset_info' %}">
        <button type="submit" class="btn btn-secondary btn-block shadow">Current Asset Info</button>
      </a>
    </div>
    <div>
      <a href="{% url 'asset_info' %}">
        <button type="submit" class="btn btn-secondary btn-block shadow">Input Asset Info</button>
      </a>
    </div>
    <div>
      <a href="{% url 'frc_data_entry' %}">
        <button type="submit" class="btn btn-secondary btn-block shadow">Data Entry</button>
      </a>
    </div>
    <div>
      <a href="{% url 'frc_system' %}">
        <button type="button" class="btn btn-secondary btn-block shadow">File Upload</button>
      </a>
    </div>
    <div>
      <a href="{% url 'impairment' %}">
        <button type="button" class="btn btn-secondary btn-block shadow">Impairment Test</button>
      </a>
    </div>
    <div>
      <form method="post" action="" id="download_csv_frc_asset">
        {% csrf_token %}
        <input type="submit" class="btn btn-success btn-block shadow" onclick="download_csv_frc_asset()"
          value="Download as excel" />
      </form>
    </div>
    <div>
      <form method="post" action="" id="delete_rows_asset_register">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger btn-block shadow" onclick="delete_rows_asset_register()"
          value="Delete Data" />

      </form>

    </div>
  </div>
  <br>

  <div>
    <!-- Filter dropdown -->
    <!-- Filter dropdown -->
    <select class="ml-5" style="border-radius: 5px; background-color: #55608f;" id="filterDropdown">
      <option value="">Select Financial Year</option>
      {% for value in unique_values %}
      <option value="{{ value }}">{{ value }}</option>
      {% endfor %}
    </select>

    <!-- Display count -->
    <p class="ml-5" style="color: beige;">Number of entries: <span id="rowCount"></span></p>

    <!-- Display rows -->
    <div class="container1" id="rowsContainer">
      {{ header_html|safe }}
      {{ rows_html|safe }}
    </div>
  </div>

  <br>
  <div class="org_name mt-5 pt-4 pb-4" style="background-color: beige;">
    <h1 style="width: .5 cm; font-weight: 800 ; font-size: 20px;">Financial Reporting Council</h1>
    <p>
    <p>Parjatan Bhaban (8th floor), Plot: E-5 C/1<br>

      West Agargaon, Sher-e-Bangla Nagar Administrative Area<br>

      Dhaka-1207, Bangladesh<br>

      Email: ed.ss@frc.gov.bd<br>

      Office: +88 02 41024674<br>

      Website: frc.gov.bd</p>
    </p>

    <p>All rights reserved by Financial Reporting Council Bangladesh</p>
  </div>


  <!---->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->


  <script src="../static/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    function download_csv_frc_asset() {
      document.getElementById("download_csv_frc_asset").action = "{% url 'download_csv_frc_asset' %}";
      document.getElementById("download_csv_frc_asset").submit();
    }
  </script>

  <script>
    function delete_rows_asset_register() {
      // Confirm with the user before deletion (optional)
      var confirmDelete = confirm("Are you sure you want to delete the excel file?");
      if (!confirmDelete) {
        return;
      }

      // Set the form action and submit the form
      document.getElementById('delete_rows_asset_register').action = "{% url 'delete_rows_asset_register' %}";
      document.getElementById('delete_rows_asset_register').submit();
    }
  </script>


  <script>
    $(document).ready(function () {
      // Function to update row count
      function updateRowCount() {
        var selectedValue = $("#filterDropdown").val();
        var rowCount = $("#rowsContainer table tbody tr").filter(function () {
          var rowValue = $(this).find("td:first").text();
          return rowValue === selectedValue || selectedValue === "";
        }).length;
        $("#rowCount").text(rowCount);
      }

      // Dropdown change event to filter table rows and update count
      $("#filterDropdown").on("change", function () {
        $("#rowsContainer table tbody tr").hide(); // Hide all rows initially
        var selectedValue = $(this).val();

        $("#rowsContainer table tbody tr").filter(function () {
          var rowValue = $(this).find("td:first").text();
          return rowValue === selectedValue || selectedValue === "";
        }).show(); // Show rows matching the selected value or show all if no value is selected

        updateRowCount(); // Update row count
      });

      // Initial row count when the page loads
      updateRowCount();
    });
  </script>

<script>
  function setMaxHeight() {
    var screenWidth = window.innerWidth;
    var maxHeight;
    if (screenWidth <= 1200) {
      maxHeight = screenWidth * 0.9;
    } else {
      maxHeight = screenWidth * 0.35;
    }
    document.getElementById("rowsContainer").style.maxHeight = maxHeight + "px";
  }
  window.onload = setMaxHeight;
  window.onresize = setMaxHeight;
</script>


</body>

</html>