<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>FRC Data Entry</title>
    <style>
      body, html {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    {% include 'header.html' %}
    <div class="flex justify-center items-center mx-2">
      <h1 class="text-gray-700 text-2xl">Purchase Entry</h1>
    </div>

    <div class="bg-gray-300 p-6 rounded-lg shadow-md m-4">
      <form method="post" action="" id="myForm" class="space-y-6">
        {% csrf_token %}

        <!-- Purchase Details Section -->
        <div class="bg-gray-800 p-4 rounded-lg">
          <div class="bg-gray-700 p-2 rounded-t-lg">
            <h2 class="text-lg font-semibold text-gray-100">Purchase Details</h2>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
            <div>
              <label for="purchase_date" class="block text-sm font-medium text-gray-300">Purchase Date:</label>
              <input type="date" id="purchase_date" name="purchase_date" class="mt-1 block w-full border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 h-10" required />
            </div>
            <div>
              <label for="bill_no" class="block text-sm font-medium text-gray-300">Bill No:</label>
              <input type="number" id="bill_no" name="bill_no" class="mt-1 block w-full border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 h-10" required />
            </div>
          </div>
        </div>

        <!-- Asset Information Section -->
        <div class="bg-gray-700 p-4 rounded-lg">
          <div class="bg-gray-600 p-2 rounded-t-lg">
            <h2 class="text-lg font-semibold text-gray-100">Asset Information</h2>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
            <div>
              <label for="serial_no" class="block text-sm font-medium text-gray-300">Serial No:</label>
              <input type="number" id="serial_no" name="serial_no" class="mt-1 block w-full border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 h-10" required />
            </div>
            <div>
              <label for="name_of_item" class="block text-sm font-medium text-gray-300">Name Of Item:</label>
              <input type="text" id="name_of_item" name="name_of_item" class="mt-1 block w-full border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 h-10" required />
            </div>
            <div>
              <label for="category" class="block text-sm font-medium text-gray-300">Category:</label>
              <select name="category" class="mt-1 block w-full border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 h-10" required>
                {% for value in dropdown_categories %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
            <div>
              <label for="quantity" class="block text-sm font-medium text-gray-300">Quantity:</label>
              <input type="text" id="quantity" name="quantity" class="mt-1 block w-full border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 h-10" required />
            </div>
            <div>
              <label for="price" class="block text-sm font-medium text-gray-300">Price:</label>
              <input type="number" id="price" name="price" step="0.00001" class="mt-1 block w-full border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 h-10" required />
            </div>
          </div>
        </div>
        <!-- Accounting information -->
        <div class="bg-gray-900 p-4 rounded-lg">
          <div class="bg-gray-800 p-2 rounded-t-lg">
            <h2 class="text-lg font-semibold text-gray-100">Accounting Infomration</h2>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
            <div>
              <label for="depreciation" class="block text-sm font-medium text-gray-300">Depreciation Method</label>
              <input type="text" id="depreciation" name="depreciation" class="mt-1 block w-full border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 h-10" value="SLM" />
            </div>
          </div>
        </div>
        <!-- Vendor Details Section -->
        <div class="bg-gray-900 p-4 rounded-lg">
          <div class="bg-gray-800 p-2 rounded-t-lg">
            <h2 class="text-lg font-semibold text-gray-100">Vendor Details</h2>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
            <div>
              <label for="vendor" class="block text-sm font-medium text-gray-300">Vendor:</label>
              <input type="text" id="vendor" name="vendor" class="mt-1 block w-full border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 h-10" required />
            </div>
            <div>
              <label for="vendor_address" class="block text-sm font-medium text-gray-300">Vendor Address:</label>
              <input type="text" id="vendor_address" name="vendor_address" class="mt-1 block w-full border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 h-10" />
            </div>
            <div>
              <label for="vendor_contact" class="block text-sm font-medium text-gray-300">Vendor Contact:</label>
              <input type="text" id="vendor_contact" name="vendor_contact" class="mt-1 block w-full border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 h-10" />
            </div>
          </div>
        </div>

        <!-- User and Location Details Section -->
        <div class="bg-gray-800 p-4 rounded-lg">
          <div class="bg-gray-700 p-2 rounded-t-lg">
            <h2 class="text-lg font-semibold text-gray-100">User and Location Details</h2>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
            <div>
              <label for="user_name" class="block text-sm font-medium text-gray-300">Entry by:</label>
              <input type="text" id="user_name" name="user_name" class="mt-1 block w-full border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 h-10" required />
            </div>
            <div>
              <label for="location" class="block text-sm font-medium text-gray-300">Location:</label>
              <input type="text" id="location" name="location" class="mt-1 block w-full border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 h-10" required />
            </div>
          </div>
        </div>

        <!-- Additional Details Section -->
        <div class="bg-gray-700 p-4 rounded-lg">
          <div class="bg-gray-600 p-2 rounded-t-lg">
            <h2 class="text-lg font-semibold text-gray-100">Additional Details</h2>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
            <div>
              <label for="current_condition" class="block text-sm font-medium text-gray-300">Current Condition:</label>
              <input type="text" id="current_condition" name="current_condition" class="mt-1 block w-full border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 h-10" required />
            </div>
            <div>
              <label for="warranty" class="block text-sm font-medium text-gray-300">Warranty (in months):</label>
              <input type="text" id="warranty" name="warranty" class="mt-1 block w-full border-gray-600 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 h-10" required />
            </div>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="flex justify-center">
          <div class="mt-4">
            <input type="submit" value="Submit" class="bg-gray-800 text-gray-100 py-2 px-10 rounded border-2 border-gray-600 shadow hover:bg-gray-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" />
          </div>
        </div>
      </form>
    </div>

    {% include 'footer.html' %}
  </body>
</html>
