<!--header name-->
<div
  class="flex flex-auto font-semibold p-4 text-slate-700 text-lg bg-[#0eabb0]"
>
  <img
    src="../static/FRC_Logo.png"
    alt="Logo"
    width="60"
    height="35"
    class="mx-2"
  />

  <a href="{% url 'dashboard' %}">
    <button type="button" class="mx-2">Dashboard</button>
  </a>

  <a href="{% url 'frc_asset_register' %}">
    <button type="button" class="mx-2">Asset Register</button>
  </a>

  <a href="{% url 'frc_asset_schedule' %}">
    <button type="button" class="mx-2">Asset Schedule</button>
  </a>

  <a href="{% url 'frc_dep' %}">
    <button type="button" class="mx-2">Depreciation</button>
  </a>

  <a href="{% url 'frc_data_entry' %}">
    <button type="button" class="mx-2">Data Entry</button>
  </a>

  <a href="{% url 'frc_system' %}">
    <button type="button" class="mx-2">File Upload</button>
  </a>

  <a href="{% url 'asset_image_upload_app' %}">
    <button type="button" class="mx-2">Image Upload</button>
  </a>
</div>

<div class="main_body pt-5">
  <div class="right"></div>
</div>
